

.card {
    padding:40px 80px 40px 80px;
}

.container {
    width:500px;
    margin: 100px auto;

    label {
        margin:0px 0px 30px 100px;
    }

    img {
        width:100px;
        height: 120px;
        margin:0px 0px 0px 100px;
    }

    button {
        height: 30px;
        font-size: 14px;
        margin:10px 0px 0px 120px;
    }
}