<div class="container">
  <div class="banner">
    <h3>The Best of Entertainment</h3>
  </div>

  <div class="card-wrapper">
    <div class="card">
      <img src="../../assets/entertainment1.avif" alt="" />
    </div>
    <div class="card">
      <img src="../../assets/entertainment2.avif" alt="" />
    </div>
    <div class="card">
      <img src="../../assets/entertainment3.avif" alt="" />
    </div>
    <div class="card">
      <img src="../../assets/entertainment4.avif" alt="" />
    </div>
    <div class="card">
      <img src="../../assets/entertainment5.avif" alt="" />
    </div>
  </div>
</div>

<div class="container-fluid premiere ">
  <div class="container ">
    <div class="img-banner">
      <img src="../../assets/rupay banner.avif" alt="" />
    </div>
    <div class="container">
        <div class="banner">
          <h3>Premieres</h3>
          <p>Brand new releases every Friday</p>
        </div>
      
        <div class="card-wrapper">
          <div class="card">
            <img src="../../assets/potrait.avif" alt="" />
            <p>Bhool bhulaiya</p>
          </div>
          <div class="card">
            <img src="../../assets/potrait.avif" alt="" />
            <p>Bhool bhulaiya</p>
          </div>
          <div class="card">
            <img src="../../assets/potrait.avif" alt="" />
            <p>Bhool bhulaiya</p>
          </div>
          <div class="card">
            <img src="../../assets/potrait.avif" alt="" />
            <p>Bhool bhulaiya</p>
          </div>
          <div class="card">
            <img src="../../assets/potrait.avif" alt="" />
            <p>Bhool bhulaiya</p>
          </div>
        </div>
        
      </div>
      
  </div>
</div>

<div class="container online">
    <div class="banner">
      <h3>Online Streaming Events</h3>
    </div>
  
    <div class="card-wrapper">
      <div class="card">
        <img src="../../assets/stream1.avif" alt="" />
        <p>Celebrity Makeup Look</p>
        <p>Mastercourse</p>
      </div>
      <div class="card">
        <img src="../../assets/stream2.avif" alt="" />
        <p>Cakesicle Mastercourse</p>
      </div>
      <div class="card">
        <img src="../../assets/stream3.avif" alt="" />
        <p>Black Forest Cake</p>
        <p>Mastercourse</p>
      </div>
      <div class="card">
        <img src="../../assets/stream4.avif" alt="" />
        <p>Data Science</p>
        
      </div>
      <div class="card">
        <img src="../../assets/stream5.avif" alt="" />
        <p>Digital Marketing &</p>
        <p>Communication</p>
      </div>
    </div>
  </div>
