<div class="container-fluid px-0">
  <div class="container">
    <div class="first-footer">
      <p>
        <span class="text"
          ><i class="bi bi-house-door"></i><b>List Your Show</b></span
        >
        Got a Show,event,activity or a great expierence? Partner with us and get
        listed on BookMyShow
      </p>
      <button class="btn btn-danger">Contact Today!</button>
    </div>
  </div>
  <div class="container-fluid px-0">
    <div class="second-footer">
      <div class="icons-with-text">
        <i class="bi bi-person-plus"></i>
      
      
        <i class="bi bi-cash-stack"></i>
        <i class="bi bi-envelope-paper"></i>
      </div>
      <div class="icon-text">
        <p>24/7 CUSTOMER CARE</p>
      <p>RESEND BOOKING CONFIRMATION</p>
      <p>SUBSCRIBE TO THE NEWSLETTER</p>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="movie-genre">
      <p class="subheading">MOVIES NOW SHOWING IN MUMBAI</p>
      <p class="content">
        Bhool bhulaiya 2 | Anek | Top Gun:Maverick | Jurassic World:Dominion |
        Sarsenapati Hambirrao | Dharmaveer | Doctor Strange : In the Multiverse
        of Madness | Kehvatlal Parivar
      </p>
      <p class="subheading">UPCOMING MOVIES IN MUMBAI</p>
      <p class="content">
        Black | Abhirami | Gajanana and Gang | Major | Sarsenapati Hambirrao |
        Dharmaveer | Prithviraj | Kehvatlal Parivar | Kuler Achaar | Habji Gabji
        | Mahi Mera Nikka Jeha
      </p>
      <p class="subheading">MOVIES BY GENRE</p>

      <p class="content">
        Drama Movies |Comedy Movies | Action Movies | Adventure Movies |
        Thriller Movies | Romantic Movies |Period Movies | Historical Movies |
        Animation Movies | Fantasy Movies | Crime Movies | Biography Movies |
        Musical Movies | Sci-Fi Movies | Supernatural Movies | Tragedy Movies |
        Adaptation Movies
      </p>
      <p class="subheading">MOVIES BY LANGUAGE</p>
      <p class="content">
        Movies in Hindi | Movies in English | Movies in Marathi | Movies in
        Punjabi | Movies in Tamil | Movies in Malyalam | Movies in Telegu |
        Movies in Bengali | Movies in Gujarati | Movies in Nepali | Movies in
        Tulu | Movies in Japanese
      </p>
      <p class="subheading">PLAYS BY GENRE IN MUMBAI</p>
      <p class="content">
        Drama Plays | Comedy Plays | Musical Plays | Romantic Plays | Fantasy
        Plays | Political Plays | Suspense Plays | Sci-Fi Plays | Broadway Plays
        | Period Plays | Tragedy Plays | Action Plays | Adaptation Plays |
        Mystery Plays | Historical Plays | Online Streaming Plays
      </p>
      <p class="subheading">MOVIES REVIEWS</p>
      <p class="content">
        Trending Arcticles | Latest News on Movies,Events and Sports | Rajeev
        Masand Movie Reviews | Anupama Chopra Movie Reviews | Film Reviews |
        Guest Blogging
      </p>
      <p class="subheading">MOVIES UPDATES AND CELEBRITIES</p>
      <p class="content">
        Upcoming Movies | Movies Now Showing | Movies Celebrities
      </p>
      <p class="subheading">THINGS TO DO IN MUMBAI</p>
      <p class="content">
        Adventure| Amusement Park | Antiques,Heritage,Museums | Christmas
        Celebrations | Durga Pooja Festivals | Festivals | Food and Drinks |
        Gaming | Hilsa Festival | Holi Parties | Hospitals | Monuments |
        Navratri | Nightlife | New Year Parties
      </p>
      <p class="subheading">SPORTS EVENTS IN MUMBAI</p>
      <p class="content">
        E Sports | Rugby | Running | Archery | Athletics | Badminton | boat Race
        | Bowling | Boxing | Card Games | Chess | Cricket | Cycling | Derby
        Horse Race | Golf | Football | Ice Skating | Hockey | judo | Kabaddi |
        KickBoxing | Mixed Martial Arts | Motorsports | Muay Thai | Online
        Sports | Polo
      </p>
    </div>
  </div>
  <img class="logo" src="../../assets/logo1.svg" alt="" />
  <div class="end-footer">
    <div class="icons">
      <i class="bi icon bi-facebook"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-youtube"></i>
      <i class="bi bi-pinterest"></i>
      <i class="bi bi-linkedin"></i>
    </div>
    <div class="copyright">
      <p class="copyright-text">
        Copyright 2022 &copy Bigtree Entertainment Pvt. Ltd. All Rights Reserved
      </p>
      <p class="text-2">
        The content and images used on this site are copyright protected ad
        copyrights vests with the respective owners. The usage of the content
        and images on this website is intended to promote the works and no
        endorsement of the artist shall be implied. Unauthorized use is
        prohibited and
      </p>
      <p class="text-3">punishable by law</p>
    </div>
  </div>
</div>
