

.container {
    width: 700px;
    margin:150px auto;
    border:1px solid #e7e7e7;
    border-radius: 8px;
    padding:30px 30px 30px 30px;

    button {
        margin:20px 0px 0px 270px
    }

    span {
        color: #5d5d5d;
        font-size: 14px;
        margin:00px 0px 0px 200px
    }
}